# Ignore node_modules (dependencies will be installed during build)

node_modules/

# Ignore IDE and editor-specific folders and settings

.vscode/

# Ignore unnecessary build and cache folders

.expo/
android/.gradle/
android/.idea/
android/build/
android/app/build/
android/gradle/
android/.caches/

# Ignore assets or media that are not used in production

assets/unnecessary-assets/

# Ignore any local config files

.env

# Ignore testing and other development-specific files/folders

_.log
_.tmp
\*.git/

# Ignore type declaration files for internal development

expo-env.d.ts

# Ignore config folders (unless needed for build)

config/

# Ignore TypeScript, babel, or other tool-specific folders

.eslintrc.js
babel.config.js
tsconfig.json
