# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
npm-debug.log
yarn-error.log

# local env files
.env*.local
.env

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Metro bundler cache
metro-cache/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# Expo build output
android/.gradle
android/app/build
android/build
android/.idea
android/app/.cxx
android/.settings
android/local.properties
android/app/debug.keystore

# iOS build output
ios/Pods
ios/build
ios/.DS_Store
ios/*.xcodeproj/project.xcworkspace
ios/*.xcodeproj/xcuserdata
ios/*.xcodeproj/xcshareddata
ios/*.xcworkspace
ios/.idea
ios/.vscode
ios/.expo
ios/*.pbxproj
ios/*.xcuserstate
