# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

android/
*.properties
*.gradle
*.bat
*.xml
*.iml
**/build/
**/.gradle/
**/generated/
**/debug/
**/release/
**/src/main/assets/fonts/
**/res/drawable*/
**/res/values/

frontend/android/
frontend/android/app/
**/MaterialCommunityIcons.ttf
**/MainActivity.kt
**/MainApplication.kt
**/m_edit_text_material.xml
**/splashscreen_logo.png

# dependencies
node_modules/
npm-debug.log
yarn-error.log

# local env files
.env*.local
.env

# eas
eas.json

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Metro bundler cache
metro-cache/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# Expo build output
android/.gradle
android/app/build
android/build
android/.idea
android/app/.cxx
android/.settings
android/local.properties
android/app/debug.keystore

# iOS build output
ios/Pods
ios/build
ios/.DS_Store
ios/*.xcodeproj/project.xcworkspace
ios/*.xcodeproj/xcuserdata
ios/*.xcodeproj/xcshareddata
ios/*.xcworkspace
ios/.idea
ios/.vscode
ios/.expo
ios/*.pbxproj
ios/*.xcuserstate
